{% extends 'main.html' %}
{% load static %}

{% block content %}
{% include 'messages.html'%}
    <div class="checkout-container">
        {% include 'messages.html' %}
        <form method="post" action="{% url 'checkout' %}"> {% csrf_token %}
        <h1>Checkout</h1>
        <div class="payment-details">
            <to>Please transfer <strong>{{total_price_with_shipping_fee}}</strong> to the following account:</p>

            <div class="account-info">
                <p>Bank Name:</p>
                <p><strong>{{ admin_bank_account.bank_name }}</strong></p>
            </div>

            <div class="account-info">
                <p>Account Name:</p>
                <p><strong>{{ admin_bank_account.account_name }}</strong></p>
            </div>

            <div class="account-info">
                <p>Account Number:</p>
                <p><strong>{{ admin_bank_account.account_number }}</strong></p>
            </div>
            <div class="account-info">
                <p>Describtion:</p>
                <p><strong>{{ description }}</strong></p>
            </div>
            <div class="amount-info">
                <p>shippingfee:</p>
                <p><strong>{{shipping_fee.fee}}</strong></p>
            </div>

            <div class="amount-info">
                <p>Item_Price:</p>
                <p><strong>{{total_price}}</strong></p>
            </div>

            <div class="amount-info">
                <p>total_price:</p>
                <p><strong>{{total_price_with_shipping_fee}}</strong></p>
            </div>
        </div>
        <p style="padding-top: 10px;"><b>Note:</b> only click on the paid button if
            and only if you have sucessfully maid the payment. misuse of this button
            will lead to deactivation of your account
        </p>
            <!-- to ensure the link is only clickable once-->
            <a href="{% url 'checkout' %}" onclick="if (this.getAttribute('data-clicked')) return false; this.setAttribute('data-clicked', 'true');">
                <button class="checkout-button">I have paid</button>
            </a>            
    </form>
    </div>
{% endblock %}
