{% extends 'main.html' %}
{% load static %}
  

{% block content %}
<section class="profile">
    {% include 'messages.html' %}
    <div class="user-info">
        <div class="avatar-container">
            <img src="{% static './images/profile.jpeg' %}" alt="User Avatar">
        </div>
        <div class="user-details">
            <h2>welcome {{profile.user.first_name}}</h2>
            <p><b>Email</b>: {{profile.user.email}}</p>
            <p><b>Address</b>: {{profile.Home_address}}</p>
            <p><b>Location</b>: {{profile.location}}</p>
            <p><b>Matriculation number (student loan only)</b>: {{profile.martriculation_number}}</p>
            <p><b>Phone_number</b>: {{profile.phone_number}}</p>
            <a href={% url 'edith_profile' %}>
                <button class="edit-button">Edit Profile</button>
            </a>
        </div>
    </div>
</section>

{% if order_items %}
<section class="order-history">
    <h2>Order History</h2>
    <p>If your payment status is still pendding  after 30mins 
        of payment pleases send your receipt to the whatsapp number: {{ contact_details.whatsapp_number }}
    </p>
    {% for order_item in order_items %}
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>Payment status</th>
                <th>Product Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order_item.order.id}}</td>
                <td>{{ order_item.order.order_date }} </td>
                <td>{{ order_item.product.name }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.order.total_price }}</td>
                <td>{{ order_item.order.payment_status }}</td>
                <td>{{ order_item.delivery_status }}</td>
            </tr>
            <!-- More order rows here -->
        </tbody>
        {% endfor %}
    </table>
</section>
{% endif %}

{% endblock content %}