{% extends 'main.html' %}
{% load static %}
  

{% block content %}
<div class="form-container">
    <h1>Sign up</h1>
    <form>
        <div class="form-group">
            <label for="first_name"><i class="fa-solid fa-person"></i> First Name</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name"><i class="fa-solid fa-person"></i> Last Name</label>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <div class="form-group">
            <label for="email"><i class="fa-solid fa-envelope"></i> email address </label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password"><i class="fa-solid fa-lock"></i> Create Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirm_password"><i class="fa-solid fa-lock"></i> Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <div class="login-link">
        Already have an account? <a href="{% url 'login' %}">Log in</a>
    </div>
</div>
{% endblock content %}